html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("background.png");
  background-size: cover;
  image-rendering: pixelated;
  overflow: hidden;
  font-family: 'Allerta Stencil';font-size: 22px;
  cursor: url("./face.png"), auto;

  /* background-repeat: no-repeat; */

}

.prompt {
  font-size: xx-large;
  color:rgb(64, 225, 168);
  background-color: rgb(2, 107, 72);
  width: 25%;
  margin:auto;
  text-align:center;
  border-radius: 10px;
  margin-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

h1 {
  padding-top: 0;
}

.container {
  width: 100%;
  height: 100%;
}

#monk {
  position: absolute;
  top: 200px;
  right: 500px;
  cursor: url('./bat.png'), auto;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #efeeab;
}
